
:root {
  --color-barra-lateral: #f5f7fa;               
  --color-textos: #1e1e2f;                      
  --color-textos-menu: #5c6bc0;               
  --color-boton: #4dd0e1;                      
  --color-texto-boton: #ffffff;               
  --color-menu-hover: #e0f7fa;                  
  --color-menu-hover-textos: #00796b;          
  --color-body: rgb(255,255,255);     
 --color-linea: rgb(205, 236, 214);                  
 --color-swich-base: rgb(201,202,206);
 --color-swich-circulo: rgb(241,241,241);
}
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

/* variables de colores dark mode */
.dark-mode {
--color-barra-lateral:  rgb(44,45,49);
--color-textos: rgb(255,255,255);
--color-textos-menu:  rgb(110,110,117);
--color-boton:  rgb(255,255,255);
--color-texto-boton:  rgb(0,0,0);
--color-menu-hover: rgb(0,0,0);
--color-menu-hover-textos:  rgb(238,238,238);
--color-linea: rgb(71,70,78);
--color-swich-base: rgb(39,205,64);
--color-swich-circulo: rgb(255,255,255);
--color-body: rgb(63, 61, 61);
}
body{
  width: 100%;
  height: 100vh;
  background-color:var(--color-body);
  transition: width 0.5s ease ,background-color 3s ease ;
}
/*barra lateral */
.barra-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  padding: 20px 15px;
  background-color: var(--color-barra-lateral);
  transition: width 0.5s ease ,background-color 3s ease ;
  overflow: hidden;
}
.barra-lateral .navegacion {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.barra-lateral span{
font-size: 18px;
text-align: left;
opacity: 1;
width: 100px;
white-space: nowrap;
font-size: 15px;
transition: opacity 0.5s ease  width 0.5s ease;
}
.barra-lateral span.oculto{
  opacity: 0;
  width: 0;
}
.barra-lateral .nombre-pagina{
width: 100%;
height: 45px;
display: flex;
align-items: center;
margin-bottom: 40px;
color: var(--color-textos);
}
.barra-lateral .nombre-pagina ion-icon{
 min-width: 50px;
 font-size: 40px;
 cursor: pointer;
}
.barra-lateral .nombre-pagina span{
font-size: 25px;
margin-left: 5px;
}
.mini-barra-lateral{
    width: 80px;
}
.barra-lateral .nombre-pagina span.oculto{
    opacity: 0;
}
.barra-lateral .boton {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--color-boton);
  color: var(--color-texto-boton);
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease
}
.barra-lateral .boton ion-icon{
min-width: 50px;
font-size: 25px;
}
.barra-lateral .boton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
  background-color: #38c4d6; 
}
.barra-lateral .navegacion li{
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}
.barra-lateral .navegacion a:hover{
color: var(--color-menu-hover-textos);
background-color: var(--color-menu-hover);
border-radius: 10px;
}
.barra-lateral .navegacion a{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-textos-menu);    
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}
.barra-lateral .linea{
width: 100%;
height: 1px;
background-color:var(--color-linea);
}
.barra-lateral .modo-oscuro{
width: 100%;
border-radius: 10px;
display: flex;
justify-content: space-between;
margin-bottom: 80px;
}
.barra-lateral .modo-oscuro .info{
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  color: var(--color-textos-menu);
  overflow: hidden;
}
.barra-lateral .modo-oscuro ion-icon{
  width: 50px;
  font-size: 20px;
}
.barra-lateral .modo-oscuro .swich{
  min-width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
width: 35px;
height: 20px;
background-color:var(--color-swich-base);
border-radius: 50px;
position: relative;
}
.barra-lateral .modo-oscuro .circulo{
    width: 18px;
    height: 90%;
    background-color:var(--color-swich-circulo);
    border-radius: 50%;
    position: absolute;
    left: 2px;
    display: flex;
    align-items: center;
    transition: left 0.5s ease;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-textos);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.barra-lateral .usuario .nombre{
  font-size: 15px;
  font-weight: 600px;
}
.barra-lateral .usuario .email{
  font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
}
.titulo{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.titulo {
    padding: 20px;
    display: flex;  
} /* contenedor de la pagina */
.contenedor-principal {
  display: flex;
  width: 100%;
  align-content: start;
}
.contenido {
  flex-grow: 3;
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: auto; 
}
.contenido .buscador input {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 100%;
  min-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}
.contenido .buscador input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.buscador {
  display: flex;
  gap: 10px;
  max-width: 300px;
}
.buscador button {
  width: 100%;
  min-width: 200px;
  height: 45px;
  background-color: var(--color-boton);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-texto-boton);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease,box-shadow 0.3s ease,background-color 0.3s ease;
}
.buscador button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
  background-color: #38c4d6; 
}

.buscador button:active {
  transform: translat
}
.encabezado {
  display: flex;
  padding: 20px;
  text-align: center; 
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
/*pagina de inicio gcrid*/
.contenedor-principal {
  display: grid;
  grid-template-areas:
  
  "bar var titulos1 titulos1"
   "bar var buscador buscador" 
   "bar var buscador buscador" ;

  grid-template-columns:  20% 0% 80% 0%;
  grid-template-rows: 100px 100px 2000px;
  justify-content: center;
 
}
.tit{
 font-family: 'Rajdhani', sans-serif; 
 font-size: 64px;
 text-transform: uppercase;
 color: #00acc1; 
 text-shadow:
  1px 1px 0 #ffffff,      
  2px 2px 0 #607d8b,      
  4px 4px 0 #00bcd4,     
  6px 6px 6px #263238; 
 letter-spacing: 3px;
 font-weight: 800;
}

.encabezado {
 grid-area: titulos1;
}

.barra-lateral {
 grid-area: bar;
 text-align: center;
}
.contenido{
 grid-area: buscador;
}
.publicidad {
 grid-area: var;
}
p{
  font-size: 10px;
}
h2{
  text-align: center;
  padding: 3%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 36px;
  color: #455a64;
  text-shadow:0.5px 0.5px 0 #eceff1,1px 1px 2px rgba(0, 172, 193, 0.3);
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
 .red {
  width: 650px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 30px;
  color: white;
  padding: 3% 3% 4% 1%;
  gap: 5%;
  border-radius: 25px;
  background: linear-gradient(135deg, #4dd0e1,#344054);
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.red:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.green {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f1c40f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  padding: 1%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.green:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}
.fotos{
  display: flex;
  gap: 2%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  color: var(--color-textos);
}
.servicios{
  width: 100%;
  padding: 20px;
  margin-left: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% + 13.5%);
  margin-left: -7.3%;
  flex-grow:1;
}
.service{
  width: 80%;
  height: 80%;
}
#campoBusqueda:focus {
  border: 2px solid #3498db;
  outline: none;
  font-weight: bold;
  color: #2c3e50;
  background-color: #ecf0f1;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  color: var(--color-textos-menu);
  cursor: pointer;
}
li:hover {
  transform: translateX(6px);
  color:var(--color-menu-hover-textos);
}
.publicidad{
  transform: translateX(0); /* Vuelve a su posición original */
  opacity: 0;
}
/* Cuando querés que aparezca */
.div-oculto {
  display: block; /* O flex/grid, según lo que sea */
  grid-area: var;
  width: 250px;
  transform: translateX(-240px);
  opacity: 1;
  transition: transform 1s ease-out, opacity 1s ease-out;
  background-image: url(./imagen/autog.png);
}
@media(max-width :480px){
.contenedor-principal {
      grid-template-rows: 150px 12000px 4500px;
      grid-template-columns: 20% 0% 80% 0%;
}
.div-oculto {
  display: none;
}
.titulo{
  display: flex;
  flex-direction: column;
}
.buscador {
  display: flex;
 flex-direction: column;
 gap: 30px;
 max-width: 900px;
}
.contenido .buscador input {
min-width: 100px; 
}
.contenido{
  font-size: 20px;
   width: 450px;

}
.contenido .fotos{
  flex-direction: column;
   width: auto;
  height: 22%;
}
.green{
    width: 100px;
    height: 200px;
}
.red{
    width: 400px;
    height: 200px;
}
.servicios{
  padding:0px;
  width: 100%;
  margin-top: -200px;
  margin-left: -50px;
  gap: 3%;
}
.publicidad{
  transform: translateX(35%);
  opacity: 0;
}
.div-oculto{
  opacity: 1;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
.encabezado{
 width: 500px;
}
h2{
  display: none;
}
.barra-lateral .nombre-pagina span{
    opacity: 0;
}
.barra-lateral{
  width: 150px;
}
.mini-barra-lateral {
  width: 600px;
  position: relative;
    height: 550px;
}
.barra-lateral span.oculto{
  opacity: 1;
  width: 1;
}
.barra-lateral .nombre-pagina span.oculto{
    opacity: 1;
}
.barra-lateral span{
  opacity: 0;
}
.barra-lateral .boton {
  display: none;
}

}